@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title</h2>

<h4>
    <strong>Autor</strong>
</h4>

<table>
    <tr>
        <td>
            <address>
                <strong>Alvaro Andrés Rodríguez Scelza</strong> <br />
                Estudiante de Ingeniería en Sistemas, Universidad ORT<br />
                Ayudante de Ingeniero en Sistemas (MEC) <br />
                <br />
                ¿Sugerencias o Consultas sobre la página? <br />
                <strong>Contacto:</strong>   <a href="mailto:alvaroscelza@gmail.com">alvaroscelza@gmail.com</a>
            </address>
        </td>
    </tr>
</table>