@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <td>
            <address>
                <strong>Carlos Andrés Rodríguez Scelza</strong> <br />
                <a href="mailto:Carlosscelza@hotmail.com">Carlosscelza@hotmail.com</a> <br />
                092642950
            </address>
        </td>
    </tr>
    <tr>
        <td>
            <address>
                <strong>Yasmín Terra</strong> <br />
                <a href="mailto:Yasmin.t.m@hotmail.com">Yasmin.t.m@hotmail.com</a> <br />
                096924532
            </address>
        </td>
    </tr>
</table>